.footer-home {
    height: 150vh;
    background-image: url("../img/Desktop UI.png");
    background-size: cover;
    background-position: center;
    margin-top: -80vh;
    z-index: 1;
    h2, p, ul {
        padding: 0;
        margin: 0;
    }
    h2 {
        padding-top: 100vh;
        margin-bottom: 0px;
        color: #000;
        @include addStroke(#fff,#000);     
    }
    p {
        color: #fff;
        font-weight: 300;
        font-size: 120%;
        margin: 0;
    }
    ul {
        list-style: none;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        li {
            font-size: 250%;
            color: #fff;
            padding-right: 5%;
            a {
                font-size: 80%;
                text-decoration: none;
                color: $primary-color;
                padding: 5px 20px;
                border: 3px solid $primary-color;
                box-shadow: none;
                border-radius: 30px;
                transition: background-color 0.2s;
                transition: color 0.2s;
            }
        }
        li a:hover {
            color: $background-color;
            text-decoration: none;
            background-color: $primary-color;
        }
    }
}

.footer-small {
    // margin-top: -100px;
    height: 8%;
    background-color: $primary-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h4, p, ul {
        color: $background-color;
    }
    ul {
        height: 8%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 40%;
        margin-top: 20px;
        li a {
            font-size: 140%;
            margin: 0 20px;
            padding: 5px;
            transition: border-bottom 0.2s;
            color: $background-color;
        }
        li a:hover {
            text-decoration: underline;
        }
    }
}

.main-hiddennav{
    margin-left: 26%;
    width: 70%;
}