nav {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.nav-hidden {
    display: none;
}

.nav-fulldisplay {
    padding: 10vh 0 0 5vw;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    color: white;
    h2 {
        margin: 0;
        line-height: 60%;
    }
    ul {
        list-style: none;
        li {
            font-size: 700%;
            font-family: "Anisette Std";
            color: rgb(180, 180, 180);
            a {
                text-decoration: none;
                color: white;
            }
        }
        :first-child {
            margin-top: -50px;
        }
    }
}