.proj-detail-content {
    height: 500px;
}
.proj-detail {
    margin: 0;
    padding: 0;
    header {
        padding: 0 10%;
        height: 80vh;
        padding-top: 200px;
        h3 {
            font: 300% $text-font;
            font-weight: 800;
            color: $primary-color;
        }
        h5 {
            max-width: 100%;
        }
        .highlight-white {
            padding: 0 10px;
            color: $background-color;
            background-color: $primary-color;
        }
    }
}