// .proj-detail-content {
//     height: 500px;
// }
.proj-detail {
    margin: 0;
    padding: 0;
    header {
        padding: 0 10%;
        padding-top: 80px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: flex-end;
        h3 {
            font: 300% $text-font;
            font-weight: 800;
            color: $primary-color;
        }
        h4 {
            max-width: 100%;
        }
        .highlight-white {
            padding: 0 10px;
            color: $background-color;
            background-color: $primary-color;
        }
    }
    &-image {
        max-width: 100vw;
    }
    &-overview {
        padding: 0 10%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.proj-detail-section {
    width: 100vw;
    padding: 0 10%;
    // display: flex;
    // flex-direction: row;
    margin: 60px 0;
    h5 {
        width: 80%;
    }
    > p, ul li {
        width: 60%;
        color: $primary-color;
        font-size: 100%;
    }
    &-imglabel {
        color: $primary-color;
        font-size: 100%;
        font-style: italic;
        width: 100%;
    }

}

.homeup {
    > img {
        margin-top: 80px;
        max-width: 100vw;
    }
    &__section-stack,
    &__section-3 {
        > div {
            margin: 30px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            width: 100%;
            align-items: center;
            > img {
                width: 100%;
            }
        }
    }
    &__section-stack {
        div > img {
            padding: 0 20%;
            width: 100%;
        }
        ul li {
            width: 100%;
        }
    }
    &__section-4 {
        padding: 0 0;
        > h5 {
            padding: 0 10%;
        }
        > img {
            width: 100%;
        }
        > p {
            width: 100%;
            text-align: center;
        }
    }
}

.acm {
    > img {
        margin-top: 80px;
        max-width: 100vw;

    }
    &__section-product {
        padding: 0 0;
        > h5 {
            padding: 0 10%;
        }
        > img {
            width: 100%;
        }
        > h6 {
            text-align: center;
        }
        > p {
            width: 100%;
            text-align: center;
        }
    }
}

.proj-detail-display {
    h5 {
        margin: 100px 0 50px 0;
        text-align: center;
        justify-content: center;
    }
}

.sdia-infosess-post {
    margin: 0 10% 30px 10%;
    width: 80%;
}

.sdia-infosess-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
        width: 30%;
        margin: 0 1%;
    }
}

.sdia-perspectv-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px 0;
    img {
        width: 30%;
    }
}

.sdia-perspectv-wrapper-post {
    margin-left: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
}