html {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.project-page {
    margin: 10%;
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2 {
        font-size: 400%;
    }
    .projects-collection {
        display: flex;
    }
}
