a {
    font-family: 'Anisette Std';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-decoration: none;
    transition: text-decoration 0.2s;
    :hover,
    :link {
        text-decoration: underline;
        color: white;
    }
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
}

button:active,
button:pressed {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
}

button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.menu-toggle {
    font-size: 300%;
    position: fixed;
    z-index: 9999;
    top: 5vh;
    right: 10vw;
    line-height: 70%;
    padding-bottom: 100px;
    height: 100px;
    width: 180px;
    border: 6px solid $primary-color;
    background-color: $primary-color;
    color: $background-color;
    border-radius: 20px;
    box-shadow: 10px 10px 0 $primary-color;
    border: 6px solid $background-color;
    transition-duration: 0.2s;
}

.menu-toggle:hover{
    top: 6vh;
    right: 9vw;
    box-shadow: 4px 4px 0 $primary-color;
}