a {
    font-family: 'Anisette Std';
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-decoration: none;
    transition: text-decoration 0.2s;
    a:hover,
    a:link {
        text-decoration: none;
        color: white;
    }
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
}

button:active,
button:pressed {
    font-size: 100%;
    font-family: inherit;
}

button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

.menu-open {
    position: fixed;
    z-index: 9999;
    top: 5vh;
    right: 10vw;
    padding: 10px 0 100px 0;
    height: 100px;
    width: 180px;
    border: 6px solid $primary-color;
    background-color: $primary-color;
    border-radius: 20px;
    box-shadow: 10px 10px 0 $primary-color;
    border: 6px solid $background-color;
    h4 {
        font-family: 'Mencken Std Head Narrow';
        font-weight: 800;
        text-align: center;
        line-height: 70%;
        font-size: 170%;
        color: $background-color;
    }
    transition-duration: 0.2s;
}

.menu-open:hover{
    top: 6vh;
    right: 9vw;
    box-shadow: 4px 4px 0 $primary-color;
}
// .menu-open h4:hover {
//     text-decoration: none;
// }