.project-box {
    height: 300px;
    color: $primary-color;
    background-color: $background-color;
    border: 6px solid $primary-color;
    border-radius: 25px;
    box-shadow: 10px 10px 0px $primary-color;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4, p {
        margin: 0;
    }
    h4 {
        margin-bottom: 20px;
    }
    p {
        font-size: 100%;
    }
}

a .project-box {
    font-size: inherit;
    transition: color 0.2s;
    transition: background-color 0.2s;
}

a .project-box:hover {
    background-color: $primary-color;
    color: $background-color;
    text-decoration: none;
}

.section-projects {
    h4 { font-size: 200%; }
    p {
        font-size: 60%;
        line-height: 100%;
    }
    a .project-box { 
        margin: 0 20px;
        max-width: 600px; 
    }
    a:first-of-type {margin-left: 8%;}
}

.project-box-placeholder {
    width: 100px;
    border: none;
    box-shadow: none;
}

a .project-box-placeholder:hover {
    background-color: $background-color;
    cursor: default;
}

.project-page {
    h4 { font-size: 400%; }
    p {
        font-size: 100%;
        line-height: 100%;
    }
    .row {
        justify-content: center;
    }
    a { font-size: 100%; }
    a:hover { text-decoration: none; }

    a .project-box {
        font-size: 90%;
        padding-left: 40px;
        margin: 0 20px;
        margin-bottom: 40px;
        max-width: 400px;
    }
}