.project-box {
    height: 300px;
    color: $primary-color;
    border: 6px solid $primary-color;
    border-radius: 25px;
    box-shadow: 10px 10px 0px $primary-color;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4, p {
        margin: 0;
    }
    h4 {
        margin-bottom: 20px;
    }
    p {
        font-size: 100%;
    }
}

a .project-box {
    font-size: inherit;
    transition: color 0.2s;
    transition: background-color 0.2s;
}

a .project-box:hover {
    background-color: $primary-color;
    color: $background-color;
    text-decoration: none;
}

.section-projects {
    h4 { font-size: 200%; }
    p {
        font-size: 60%;
        line-height: 100%;
    }
    a .project-box { 
        margin: 0 20px;
        max-width: 600px; 
    }
    a:first-of-type {margin-left: 8%;}
}

.project-box-placeholder {
    border: none;
    box-shadow: none;
}

a .project-box-placeholder:hover {
    background-color: $background-color;
    cursor: default;
}

.project-page {
    h4 { font-size: 400%; }
    p {
        font-size: 100%;
        line-height: 100%;
    }
    .row {
        justify-content: center;
    }
    a { font-size: 100%; }
    a:hover { text-decoration: none; }

    a .project-box {
        font-size: 90%;
        margin-right: 40px;
        margin-bottom: 40px;
        width: 400px;
    }
}

.page-button {
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    font: 180% $heading-font;
    font-weight: 800;
    color: $primary-color;
    background-color: $background-color;
    border-radius: 30px;
    padding: 0 10px;
    border: 2px solid $primary-color;
    transition: color 0.2s;
    transition: background-color 0.2s;
}
.page-button:hover {
    color: $background-color;
    background-color: $primary-color;
    text-decoration: none;
    outline: 2px;
    outline-offset: 15px
}

.next-button {
    margin-left: 80vw;
}

.back-button {
    margin-left: 10vw;
}

.proj-detail-section {
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    h5 {
        width: 40%;
    }
    p {
        width: 60%;
        color: $primary-color;
        font-size: 100%;
    }

}