@import url("https://use.typekit.net/kbl8jda.css");
html, body {
    font-family: $heading-font;
    font-weight: 800;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

h1, h2 {
    font-family: $heading-font;
    font-weight: 800;
    font-style: normal;
    font-size: 500%;
    color: $primary-color;
}

h1 {
    font-size: 700%;
    line-height: 60%;
}

h3 {
    font-family: $text-font;
    font-size: 300%;
    margin: 0;
}

h4 {
    font-family: $heading-font;
    font-size: 350%;
    font-weight: 800;
    line-height: 85%;
}

h5 {
    font-family: $text-font;
    font-weight: 600;
    font-size: 200%;
    color: $primary-color;
}

p {
    font-family: $decor-font;
    font-weight: 300;
    font-size: 80%;
}

.stroke {
    @include addStroke($header-color,$background-color);
}

.white {
    color: #101010;
}