@import url("https://use.typekit.net/kbl8jda.css");
html, body {
    font-family: 'Mencken Std Head Narrow', serif;
    font-weight: 800;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

h1, h2 {
    font-family: 'Mencken Std Head Narrow';
    font-weight: 800;
    font-style: normal;
    font-size: 500%;
}

h1 {
    font-size: 700%;
    line-height: 60%;
}

h3 {
    font-family: 'Anisette Std';
    font-size: 300%;
    margin: 0;
}

h4 {
    font-family: 'Anisette Std';
    font-size: 300%;
    font-weight: 800;
    line-height: 85%;
}

.stroke {
    @include addStroke(#000,#fff);
}