.main-nav {
    position: fixed;
    background-color: black;
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        text-align: left;
        font-size: 80px;
        line-height: 0%;
        color: white;
    }
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        li {
            display: inline-block;
            a {
                font-family: 'Anisette Std';
                font-style: normal;
                font-weight: bold;
                font-size: 35px;
                color: white;
                text-decoration: none;
            }
        }
    }
}