section {
    margin-left: 25%;
    width: 75vw;
    height: 100vh;
    
    .section-about {
        ul {
            list-style: none;
            font-family: 'Mencken Std Head Narrow';
            font-style: normal;
            font-weight: 800;
            font-size: 100px;
            line-height: 131px;
        }
    }
}