section {
    margin-left: 30%;
    width: 70%;
    height: 100vh;
}

.section-about {
    h3 {
        font-family: 'Anisette Std';
        font-size: 300%;
        margin: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        // list-style-type: decimal-leading-zero;
        // list-style-position: inside;
        li {
            font-family: 'Mencken Std Head Narrow';
            font-weight: 800;
            font-size: 500%;
            line-height: 60%;
        }
        .list-number {
            font-family: 'Anisette Std';
            font-size: 50%;
        }
        .stroke {
            @include addStroke(#000);
        }
    }
}