section {
    margin-left: 28%;
    width: 72%;
    height: 80vh;
}

.section-about {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            font-family: 'Mencken Std Head Narrow';
            font-weight: 800;
            font-size: 500%;
            line-height: 60%;
        }
        .list-number {
            font-family: 'Anisette Std';
            font-size: 50%;
        }
    }
}