@mixin flexCenter($direction, $background) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}

@mixin addStroke($outline-color,$text-color) {
    color: $text-color;
    // text-shadow: -4px -4px 0 $outline-color, -4px -;
    text-shadow: -3px -3px 0 $outline-color, 1px -1px 0 $outline-color, -1px 1px 0 $outline-color, 1px 1px 0 $outline-color;
}