// ----------------------------------------
// Color Variables
// ----------------------------------------

$navigation-color: #101010;
$header-color: #FFFFFF;
$primary-color: #FFFFFF;
$background-color: #101010;

$heading-font: mencken-std-head-narrow, sans-serif;
$text-font: anisette-std, sans-serif;
$decor-font: anisette-petite, sans-serif;
