body {
    background-color: $background-color;
}
@include media('>phone','<=tablet') {
    .project-page {
        h1 {
            font-size: 500%;
        }
    }
    
    .project-page {
        h4 { font-size: 500%; }
        p {
            font-size: 180%;
        }
        a .project-box {
            font-size: 90%;
            height: 250px;
            padding: 5px 30px;
            width: 90%;
            margin: 30px 0px 0 12px;
        }
    }

    .page-button {
        max-width: 350px;
        font: 240% $heading-font;
        padding: 5px 15px;
    }

    .proj-detail-content {
        height: 600px;
    }

    .proj-detail {
        header {
            height: 300px;
            h5 {
                font-size: 140%;
            }
        }
    }

    .proj-detail-section {
        padding: 0 10%;
        flex-direction: column;
        margin: 20px 0;
        h5 {
            width: 40%;
        }
        p {
            width: 100%;
            font-size: 140%;
        }
    
    }
    
    .next-button {
        margin-left: 55vw;
    }

    .button-link {
        margin: 500px 0 500px 10vw;
    }
}